4) Просмотр художественных фильмов ({{ schedule.movie.total }} мин, {{ schedule.movie.time() }})
{{ schedule.movie }}
Условия:
Отвечать в телеграмм https://t.me/+NjmlYdtGRd1iODli
Телефон перед камерой.
Ссылка на видео:
{{ schedule.movie.link }}